.game {
  --current: #49b34e;

  --default: #ddd;
  --default-alt: #ccc;
  --player1: rgb(44, 202, 176);
  --player2: rgb(255, 123, 0);
  --player1alt: rgba(44, 202, 176, 0.3);
  --player2alt: rgba(255, 123, 0, 0.3);

  --size: 70vh;
  --tilesize: 3;
  --thickness: 7px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  margin: 0;
  margin-top: -12px;
}

.game .outer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game .icons {
  display: flex;
  width: calc(100% - 42px);
  height: 12px;

  margin-bottom: 8px;

  color: var(--default-alt);
}

.game .icons .right {
  margin-left: auto;
}

.game .icons i {
    position: relative;

    white-space: nowrap;
}
.game .icons i:hover::after {
    opacity: 1;
    
}
.game .icons .lightmode {
    display: none;
}
.dark .game .icons .darkmode {
    display: none;
}
.dark .game .icons .lightmode {
    display: initial;
}

.game .icons .reload, .game .icons .reset, .game .icons .github, .game .icons .darkmode, .game .icons .lightmode, .game .icons .debug {
  cursor: pointer;
}

.game .icons .reload::after { content: "reload"; }
.game .icons .reset::after { content: "reset"; }
.game .icons .github::after { content:"github"; }
.game .icons .darkmode::after { content: "dark theme"; }
.game .icons .lightmode::after { content: "light theme"; }
.game .icons .debug::after { content: "debug mode"; }
.game .icons i::after {
    position: absolute;

    opacity: 0;

    left: 50%;
    transform: translate(-50%, -30px);

    padding: 4px;

    background: var(--default-alt);
    color: var(--background-color);

    border-radius: calc(var(--size) / 100);
    font-family: "Roboto", sans-serif; 
    font-weight: bold;

    transition: opacity 200ms linear;

    pointer-events: none;
}

.game .wrapper {
  position: relative;

  overflow: hidden;

  padding: 4px;
}

.game .win-screen {
  position: absolute;

  display: flex;

  justify-content: center;
  align-items: center;

    width: 100%;
    height: 100%;

  background: transparent;

  color: transparent;
  font-size: calc(var(--size) * 0.1);

  border-radius: 10px;

  pointer-events: none;

  transition: background 200ms linear, color 200ms linear;
}

.game .win-screen i {
    position: relative;

    width: 60px;
    height: 60px;
}

.game .win-screen .o {
    transform: translate(0, 8px);
}

.game .win-screen .o::before {
    content: '';
    border-color: white;
}

.game .win-screen .x::before,
.game .win-screen .x::after {
    content: '';
    background: white;
}

.game .win-active {
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  color: var(--color);
  pointer-events: all;
}

.game td,
.game tr,
.game table {
  margin: 0;
  padding: 0;
}

.game table {
  margin: 0 auto;
}

.game table table td {
  position: relative;

  width: calc(var(--size) / (var(--tilesize) * var(--tilesize)));
  height: calc(var(--size) / (var(--tilesize) * var(--tilesize)));

  padding: 1px;
}

.game table table td .i {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(var(--size) / (var(--tilesize) * var(--tilesize)));
  height: calc(var(--size) / (var(--tilesize) * var(--tilesize)));

  background: var(--default);

  text-align: center;

  border-radius: 10%;
}

.game table td {
  position: relative;

  padding: 4px;
}

.game table .current::after {
  content: "";

  position: absolute;
  z-index: 1;

  transform: translate(-8px, calc(-100% + 8px));

  width: 100%;
  height: 100%;

  border-radius: 5px;
  border: var(--current) solid 4px;

  pointer-events: none;
}

.game table {
  border-collapse: collapse;
}

.game table table {
  overflow: hidden;
}

.game .i {
  transition: transform 200ms ease-in-out;
}

.game .sbutton {
  transition: background 100ms linear;
}

.game .sbutton .sbuttonicon {
  color: var(--player1);
  transition: color 100ms linear;
}

.game .sbutton-alt .sbuttonicon {
  color: var(--player2);
}

.game .sbutton:hover {
  background: var(--player1);
}
.game .sbutton-alt:hover {
  background: var(--player2);
}

.game .sbutton:hover .sbuttonicon {
  color: white;
}

.game .fullwidth-transform {
  width: calc(var(--size) / (var(--tilesize)));
}

.game .fullwidth .i {
  position: relative;

  min-width: calc(300% + 2px);
  border-radius: 10px;
  z-index: -100;

  text-align: center;

  color: var(--player1);

  font-weight: bold;
  letter-spacing: 2px;

  overflow: hidden;
}

.game .fullwidth {
  cursor: pointer;
}

.game .fullwidth-transform .i {
  min-width: calc(100% + 2px);
}

.game .fullwidth .alt {
  color: var(--player2);
}

.game .fullwidth .i::before {
  opacity: 1;
  z-index: -10;

  position: absolute;

  display: block;


  transform: translateX(-110%);
  border-radius: 50%;

  width: calc(var(--size) / (var(--tilesize)));
  height: 100%;

  background: var(--player1);

  pointer-events: none;

  transition: transform 200ms ease-in-out, border-radius 200ms ease-in-out;
}

.game .fullwidth .alt::before {
  background: var(--player2);
}

.game .fullwidth:hover .i::before {
  transform: translateX(0);
  border-radius: 10px;
}

.game .fullwidth a {
  z-index: 1000;
  transition: color 200ms linear;
}

.game .fullwidth:hover a {
  color: white;
}

.game .fullwidth td {
  color: var(--player1);
}

.game .i::after,
.game .i::before {
  content: "";

  opacity: 0;

  transition: opacity 200ms cubic-bezier(1, 0, 1, 0.01), transform 200ms linear;
}

.game .ox {
  transform: scale(-1, 1);
}

.game .x::after,
.game .x::before {
  position: absolute;
  z-index: 2;

  transform: rotate(45deg) scale(-1, 1);

  opacity: 1;

  width: calc(var(--size) / 100);
  height: 90%;

  background: var(--player1);

  border-radius: calc(var(--size) / 100);
}

.game .x::before {
  transform: rotate(-45deg) scale(-1, 1);
}

.game .o::before {
  position: absolute;
  z-index: 2;

  transform: scale(-1, 1);

  opacity: 1;

  width: 60%;
  height: 60%;

  background: transparent;

  border: var(--player2) calc(var(--size) / 100) solid;
  border-radius: 50%;
}

.game .winx .i {
  background: var(--player1alt);
}

.game .wino .i {
  background: var(--player2alt);
}

.game input[type="button"] {
  width: 100px;
  height: 30px;

  border-radius: 5px;
  border: var(--default) solid 2px;
  background: transparent;
  color: var(--color);
}

.game input[type="button"]:hover {
  background: var(--default);
}

.dark .game {
    --default: #444;
    --default-alt: #555;
}

@media only screen and (max-width: 500px) {
  .game {
    --size: calc(100vw - 28px);
  }

  .game table td {
    padding: 1px;
  } 

  .game table .current::after {
    transform: translate(-5px, calc(-100% + 4px));
  }
}
