* {
  --color: black;
  --background-color: whitesmoke;
}

body {
    margin: 0;

    background: var(--background-color);

    font-family: "Roboto", sans-serif;
}

svg, a, p {
    color: var(--color);
}

@media (prefers-color-scheme: dark) {
    * {
        --color: white;
        --background-color: #333 !important;
    }
}