body {
  --color: black;
  --background-color: whitesmoke;
  --font-color: #555;

  --default: #ddd;
  --default-alt: #ccc;
  --default-alt2: #ddd;

  --player1: rgb(44, 202, 176);
  --player2: rgb(255, 123, 0);
  --player1alt: rgba(44, 202, 176, 0.3);
  --player2alt: rgba(255, 123, 0, 0.3);

  height: 100vh;

  margin: 0;

  background: var(--background-color);

  font-family: "Roboto", sans-serif;

  overflow: hidden;
}

svg, a, p, h1, h2 {
  color: var(--font-color);
  text-decoration: none;
}

.dark {
  --color: white;
  --background-color: #333;
  --font-color: #aaa;

  --default: #444;
  --default-alt: #555;
  --default-alt2: #666;
}

.noscript {
  position: fixed;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: black;
  color: white;

  font-size: 30px;
  font-weight: bold;
}

.noscript p {
  color: white;
  width: 70%;
  text-align: center;
}
